[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
psycopg2 = "*"
pillow = "*"
razorpay = "*"
django-filter = "*"
drf-renderer-xlsx = "*"
rest-pandas = "*"
pd = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-storages = {extras = ["dropbox"], version = "*"}
boto3 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
